.toolbar-spacer {
  flex: 1 1 auto;
}


/* Make header Image or Text nice looking clickable link */
.root-link:focus {
  outline: none;
}

.root-link:hover {
  cursor: pointer;
}
/* End of Link Config */

.menu-logo {
  height: 5vh;
  width: auto;
}

.menu-button {
  margin-left: 15px;
}
