<mat-toolbar>

  <button mat-icon-button routerLink="/welcome">
    <img src="/assets/App_logo_size.jpg" alt="App-Logo" class="menu-logo">
  </button>

  <button mat-icon-button [mat-menu-trigger-for]="toolBarMenu" aria-label="icon-button with menu icon" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #toolBarMenu="matMenu">
    <button mat-menu-item routerLink="/info">
      <mat-icon>info</mat-icon>
      <span>Info</span>
    </button>

  </mat-menu>

  <span class="toolbar-spacer"></span>

  <!-- <button mat-icon-button aria-label="dummy icon for sharing">
    <mat-icon>share</mat-icon>
  </button> -->


</mat-toolbar>

<router-outlet></router-outlet>
