<mat-toolbar class="main-toolbar" class="main-color">

  <button mat-icon-button routerLink="/welcome">
    <img src="./assets/svaits2.png" alt="App-Logo" class="menu-logo">
  </button>

  <!-- Menu follwing -->

  <!-- <button mat-icon-button [mat-menu-trigger-for]="toolBarMenu" aria-label="icon-button with menu icon" class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>

  <mat-menu #toolBarMenu="matMenu">
    <button mat-menu-item routerLink="/info">
      <mat-icon>info</mat-icon>
      <span>Info</span>
    </button>

  </mat-menu> -->

  <span class="tool-spacer"></span>

  <button (click)="saveData()" mat-icon-button aria-label="speichern im lokalen Speicher" [matTooltip]="'Speichern der Daten im Browserspeicher'" [matTooltipShowDelay]="500">
    <mat-icon>save</mat-icon>
  </button>
  <button (click)="loadData()" mat-icon-button aria-label="laden aus lokalem Speicher" [matTooltip]="'Laden der Daten aus Browserspeicher. Aktuelle Bearbeitung wird überschrieben'" [matTooltipShowDelay]="500">
    <mat-icon>refresh</mat-icon>
  </button>


</mat-toolbar>

<router-outlet></router-outlet>
