
<mat-grid-list cols=4 rowHeight="50px">
  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <button mat-raised-button (click)="stockNamingDialogToNameNewStock()" color="primary">
      <mat-icon>add</mat-icon>
      <span>Neue Aktie hinzufügen</span>
    </button>
  </mat-grid-tile>


  <mat-grid-tile [colspan]="4" [rowspan]="2" *ngFor="let stock of _stockSrv.stockCollection; index as j">
    <mat-card class="stock-card animate__animated animate__slideInLeft animate__fast" [routerLink]="['/calculation', stock.stockName, j]">
      <mat-card-header>{{stock.stockName}}</mat-card-header>
      <mat-card-content>

          <p>Fair Value: {{stock.resultData.fairValueWithSecurityMargin}} €</p>
          <p>Eigenkapitalquote: {{stock.resultData.eigenkapitalquote}} %</p>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>



