
<mat-grid-list cols=4 rowHeight="50px">

  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <img src="./assets/svaits2.png" alt="App-Logo">
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4"  [rowspan]="1">
    <button mat-raised-button color="primary" routerLink="/overview" class="button-main">
      Bewertungsübersicht<mat-icon>explore</mat-icon>
    </button>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
  </mat-grid-tile>

  <mat-grid-tile [colspan]="2" [rowspan]="4">
    <p class="welcomeText">
      SVAITs stellt ein Toolset zur Bewertung von an der Börse notierten Unternehmen.
      Die Berechnung einiger wichtiger Kennzahlen, sowie die Beantwortung entscheidender Fragen stehen dabei im Fokus.
      Zudem können die Daten ohne Anmeldung, sowie ohne die Speicherung persönlicher Daten, im lokalen Browser gesichert und geladen werden (siehe Icons in der Toolbar).
      <!-- Alternativ zum Speichern im Browser kann je Aktie eine PDF Zusammenfassung exportiert werden, um ein Investment Journal zu pflegen. -->
      Das langfristige Ziel ist, Investments an der Börse fundamental zu vereinfachen und transparenter zu gestalten.
    </p>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="1" [rowspan]="1">
  </mat-grid-tile>

  <!-- <mat-grid-tile [colspan]="4" [rowspan]="2">
    <p class="welcomeText">
      Das Tool ist für eine Desktop Nutzung Optimiert. Auf mobilen Geräten kann es aktuell durchaus zu Einschränkungen kommen. Dies bitte ich zu Entschuldigen
    </p>
  </mat-grid-tile> -->

  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <mat-divider></mat-divider>
  </mat-grid-tile>

  <mat-grid-tile [colspan]="4" [rowspan]="1">
    <h1 class="mat-headline">Features</h1>
  </mat-grid-tile>



  <mat-grid-tile *ngFor="let feature of pageHintsForTemplate" [colspan]="feature.cols" [rowspan]="feature.rows">
    <div>
      <mat-card class="feature-card animate__animated animate__fadeIn animate__slow info-color">
        <mat-card-header><mat-card-title>{{feature.heading}}</mat-card-title></mat-card-header>
        <mat-card-content><p class="feature-desc">{{feature.description}}</p></mat-card-content>
      </mat-card>
    </div>
  </mat-grid-tile>


</mat-grid-list>
