.page-description {
  max-width: 300px;
  text-align: justify;
}


.feature-card {
  background-color: #0c3b2e !important;
  max-width: 300px;
}

.feature-desc {
  font-style: italic;
  font-size: smaller;
}

.welcome-row {
  margin-top: 5vh;
}
