<button mat-stroked-button routerLink="/overview">
  <mat-icon>
    navigate_before
  </mat-icon>
  Overview
</button>

<form [formGroup]="stockForm" (ngSubmit)="stockFormSubmit()">

  <mat-accordion [multi]="true">
    <mat-expansion-panel [expanded]="bilanzKennZahlenOpened" class="expansion-frame">
      <mat-expansion-panel-header>
        <mat-panel-title>BilanzKennzahlen</mat-panel-title>
        <mat-panel-description class="panel-desc">Eingaben zur Unternehmensbilanz</mat-panel-description>

      </mat-expansion-panel-header>
      <mat-grid-list cols="4" rowHeight="30px">
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Bilanzsumme</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <input matInput class="inputField" matInput type="number" min="0" formControlName="bilanzSummeInMillionenZumStichtag">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.bilanzSummeDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>

        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">EigenKapital</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <input matInput class="inputField" matInput type="number" min="0" formControlName="eigenKapitalInMillionenZumStichtag">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.eigenKapitalDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">EigenKapital DS 3 Jahre</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="eigenKapitalThreeYearAverageInMillionen">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.eigenKapitalThreeYearAverageDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Gesamte Verbindlichkeiten</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="gesamtVerbindlichKeitenInMillionenZumStichtag">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.gesamtVerbindlichKeitenDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Zahlungemittel (liquide Mittel)</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="zahlungsMittelInMillionenZumStichtag">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.zahlungsMittelDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Umsatz</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="umsatzInMillionenZumStichtag">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.umsatzInMillionenDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">EBIT</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="ebitInMillionenZumStichtag">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.ebitDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">EAT</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="eatInMillionenZumStichtag">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.eatDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Marktkapitalisierung</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="marktKapitalisierungInMillionenZumStichtag">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.marktKapitalisierungDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Anzahl Aktien</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="anzahlAktien">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.anzahlAktienDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


      </mat-grid-list>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="cashFlowRechnungOpened" class="expansion-frame">
      <mat-expansion-panel-header>
        <mat-panel-title>CashFlow Rechnung</mat-panel-title>
        <mat-panel-description class="panel-desc">operativer CF und Investment CF</mat-panel-description>

      </mat-expansion-panel-header>
      <mat-grid-list cols="4" rowHeight="30px">
        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">operativer Cashflow</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="operativerCashflowInMillionenZumStichtag">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.operativerCashflowDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">operativer CF (DS 3 Jahre)</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="operativerCashflowThreeYearAverageInMillionen">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.operativerCashflowThreeYearAverageDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">investment CF</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="investmentCashflowInMillionenZumStichtag">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.investmentCashflowDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- !!!Neue Kennzahl!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">investment CF (DS 3 Jahre)</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="investmentCashflowThreeYearAverageInMillionen">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Mio €</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="2" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.investmentCashflowThreeYearAverageDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>
      </mat-grid-list>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="umsatzWachstumOpened" class="expansion-frame">
      <mat-expansion-panel-header>
        <mat-panel-title>Umsatzwachstum</mat-panel-title>
        <mat-panel-description class="panel-desc">Umsatzwachstum der letzten Jahre</mat-panel-description>

      </mat-expansion-panel-header>
      <mat-grid-list cols="4" rowHeight="30px">
        <!-- !!!Neues Umsatzwachstum!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Umsatzwachstum {{numberOfLastYear}}</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input matInput class="inputField" matInput type="number" min="0" formControlName="umsatzChangeSixthPeriod" (change)="calculateExpectedRatesOfGrothToShowValue()">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Prozent</span>
        </mat-grid-tile>

        <!-- !!!Neues Umsatzwachstum!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Umsatzwachstum {{numberOfLastYear-1}}</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
              <input matInput class="inputField" matInput type="number" min="0" formControlName="umsatzChangeFifthPeriod" (change)="calculateExpectedRatesOfGrothToShowValue()">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Prozent</span>
        </mat-grid-tile>

        <!-- !!!Neues Umsatzwachstum!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Umsatzwachstum {{numberOfLastYear-2}}</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input class="inputField" matInput type="number" min="0" formControlName="umsatzChangeFourthPeriod" (change)="calculateExpectedRatesOfGrothToShowValue()">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Prozent</span>
        </mat-grid-tile>

        <!-- !!!Neues Umsatzwachstum!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Umsatzwachstum {{numberOfLastYear-3}}</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
              <input class="inputField" matInput type="number" min="0" formControlName="umsatzChangeThirdPeriod" (change)="calculateExpectedRatesOfGrothToShowValue()">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Prozent</span>
        </mat-grid-tile>

        <!-- !!!Neues Umsatzwachstum!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Umsatzwachstum {{numberOfLastYear-4}}</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input class="inputField" matInput type="number" min="0" formControlName="umsatzChangeSecondPeriod" (change)="calculateExpectedRatesOfGrothToShowValue()">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Prozent</span>
        </mat-grid-tile>


        <!-- !!!Neues Umsatzwachstum!!! -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Umsatzwachstum {{numberOfLastYear-5}}</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input class="inputField" matInput type="number" min="0" formControlName="umsatzChangeFirstPeriod" (change)="calculateExpectedRatesOfGrothToShowValue()">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Prozent</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="3" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.umsatzChangeDescription}}</span>
        </mat-grid-tile>


       <!-- Erklärung -->
       <mat-grid-tile [colspan]="4" [rowspan]="1" class="input-desc" *ngIf="expectedRateOfGrothToShow">
        <span class="mat-small dcf-desc-text">
          Die zur Berechnung des fairen Aktienwertes herangezogene Wachstumsrate beträgt {{expectedRateOfGrothToShow}} %
        </span>
      </mat-grid-tile>


        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- Erwartete Rendite -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Erwartete Rendite</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input class="inputField" matInput type="number" min="0" formControlName="expectedRateOfReturnPercent">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Prozent</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="3" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.expectedRateOfReturnDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- Erwartete LongRendite -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Erwartetes Lanzeitwachstum</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input class="inputField" matInput type="number" min="0"formControlName="expectedLongGrowRatePercent">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Prozent</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="3" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.expectedLongGrowRateDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


        <!-- Security Margin -->
        <!-- Beschriftung -->
        <mat-grid-tile [colspan]="2" [rowspan]="1">
          <span class="mat-small">Security Margin</span>
        </mat-grid-tile>

        <!-- Input Field -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <input class="inputField" matInput type="number" min="0"formControlName="securityMarginRate">
        </mat-grid-tile>

        <!-- Einheit -->
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <span class="mat-small">Prozent</span>
        </mat-grid-tile>

        <!-- Erklärung -->
        <mat-grid-tile [colspan]="4" [rowspan]="3" class="input-desc">
          <span class="mat-small input-desc-text">{{stockInWork.inputData.securityMarginDescription}}</span>
        </mat-grid-tile>

        <!-- Divider -->
        <mat-grid-tile [colspan]="4" [rowspan]="1">
          <mat-divider></mat-divider>
        </mat-grid-tile>


      </mat-grid-list>
    </mat-expansion-panel>

  </mat-accordion>


  <mat-grid-list cols="2" rowHeight="30px" class="button-grid">
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <button color="secondary" mat-icon-button type="button" (click)="clearStockForm()"><mat-icon>clear_all</mat-icon></button>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="2">
      <button class="button-main" mat-icon-button type="submit" [disabled]="stockForm.invalid"><mat-icon>calculate</mat-icon></button>
    </mat-grid-tile>
  </mat-grid-list>

  <br>
  <br>

  <mat-grid-list cols="4" rowHeight="30px" *ngIf="measuresHaveBeenCalculated">

    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <h2 class="mat-title">Ergebnisse</h2>
    </mat-grid-tile>

    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">Eigenkapitalquote</span>
    </mat-grid-tile>

    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.eigenkapitalquote}}</span>
    </mat-grid-tile>

    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Prozent</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.eigenkapitalquoteDescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>


    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">Gearing</span>
    </mat-grid-tile>

    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.gearing}}</span>
    </mat-grid-tile>

    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Prozent</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.gearingdescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>


    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">Dynamischer Verschuldungsgrad</span>
    </mat-grid-tile>

    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.dynamischerVerschuldungsgrad}}</span>
    </mat-grid-tile>

    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Prozent</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.dynamischerVerschuldungsgradDescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>


    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">Sachinvestitionsquote</span>
    </mat-grid-tile>

    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.sachinvestitionsQuote}}</span>
    </mat-grid-tile>

    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Prozent</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.sachinvestitionsQuoteDescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>


    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">Eigenkapitalrendite (DS 3 Jahre)</span>
    </mat-grid-tile>

    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.eigenkapitalThreeYearAverageRendite}}</span>
    </mat-grid-tile>

    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Prozent</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.eigenkapitalThreeYearAverageRenditeDescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>


    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">EBIT Marge</span>
    </mat-grid-tile>

    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.ebitMarge}}</span>
    </mat-grid-tile>

    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Prozent</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.ebitMargeDescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>


    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">Intrinsische Kaufdauer</span>
    </mat-grid-tile>

    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.intrinsischeKaufdauer}}</span>
    </mat-grid-tile>

    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Jahre</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.intrinsischeKaufdauerDescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>


    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">KGV zum Stichtag</span>
    </mat-grid-tile>

    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.kursGewinnVerhaeltnisZumStichtag}}</span>
    </mat-grid-tile>

    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Faktor</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="3" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.kursGewinnVerhaeltnisZumStichtagDescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>


    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">Einstandsrendite zum Stichtag</span>
    </mat-grid-tile>

    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.einstandsrenditeZumStichtag}}</span>
    </mat-grid-tile>

    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Prozent</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.einstandsrenditeZumStichtagDescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>


    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">KBV zum Stichtag</span>
    </mat-grid-tile>

    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.kursBuchwertVerhaeltnisZumStichtag}}</span>
    </mat-grid-tile>

    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Faktor</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.kursBuchwertVerhaeltnisZumStichtagDescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>


    <!-- Beschriftung -->
    <!-- <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">Enterprise Value zum Stichtag</span>
    </mat-grid-tile> -->

    <!-- Value Field -->
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.enterpriseValueZumStichtag}}</span>
    </mat-grid-tile> -->

    <!-- Einheit -->
    <!-- <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Eingabewährung</span>
    </mat-grid-tile> -->

    <!-- Erklärung -->
    <!-- <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.enterpriseValueZumStichtagDescription}}</span>
    </mat-grid-tile> -->

    <!-- Divider -->
    <!-- <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile> -->


    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">Erechnete Wachstumsrate</span>
    </mat-grid-tile>

    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.expectedRateOfGrothPercent}}</span>
    </mat-grid-tile>

    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">Prozent</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.expectedRateOfGrothPercentDescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>


    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">Fairer Wert je Aktie</span>
    </mat-grid-tile>
    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.fairValue}}</span>
    </mat-grid-tile>
    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">€</span>
    </mat-grid-tile>

    <!-- Beschriftung -->
    <mat-grid-tile [colspan]="2" [rowspan]="1">
      <span class="mat-small">Fairer Wert je Aktie (Security Margin)</span>
    </mat-grid-tile>
    <!-- Value Field -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">{{stockInWork.resultData.fairValueWithSecurityMargin}}</span>
    </mat-grid-tile>
    <!-- Einheit -->
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="mat-small">€</span>
    </mat-grid-tile>

    <!-- Erklärung -->
    <mat-grid-tile [colspan]="4" [rowspan]="2" class="result-divider">
      <span class="mat-small result-desc">{{stockInWork.resultData.fairValueDescription}}</span>
    </mat-grid-tile>

    <!-- Divider -->
    <mat-grid-tile [colspan]="4" [rowspan]="1">
      <mat-divider></mat-divider>
    </mat-grid-tile>

  </mat-grid-list>



</form>
