.inputField {
  border-bottom: 1px solid green;
}


.input-desc {
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.input-desc-text {
  margin-right: 20px;
  color: grey
}
